# Coding Conventions style guide
root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
continuation_indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
max_line_length = 120
end_of_line = lf

[*.{kt,kts}]
indent_size = 4
continuation_indent_size = 4
insert_final_newline = true
max_line_length = 120

[*.java]
indent_size = 4
continuation_indent_size = 4
max_line_length = 120

[*.gradle]
indent_size = 4

[*.xml]
indent_size = 4

[*.md]
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = true
charset = utf-8

[*.properties]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 2
insert_final_newline = true
charset = utf-8

[*.{yml,yaml}]
indent_size = 2
insert_final_newline = true
charset = utf-8
