*.iml
.gradle
local.properties
.DS_Store
build
/captures
proguard-rules.pro
.idea/workspace.xml
.idea/libraries
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
