sudo: false
cache: false
language: android
jdk: openjdk15
dist: trusty
env:
  - JAVA_OPTS='-XX:+IgnoreUnrecognizedVMOptions --add-modules java.se.ee'
android:
  components:
    - tools
    - build-tools-30.0.3
    - android-30
    - extra-google-m2repository
    - extra-android-m2repository
script:
  - TERM=dumb ./gradlew lint testDebugUnitTest jacocoTestReport
before_install:
  - chmod +x gradlew
  - yes | sdkmanager "platforms;android-30"
#after_success:
#  - bash <(curl -s https://codecov.io/bash)