name: "Android CI"
on: [ push, pull_request ]
jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: lint
        run: bash ./gradlew lintDebug --stacktrace
      - name: unit tests
        run: bash ./gradlew testDebugUnitTest --stacktrace
      - name: coverage
        run: bash ./gradlew jacocoTestCoverageVerification --stacktrace
      - name: artifact reports
        uses: actions/upload-artifact@v4
        with:
          name: artifact-reports
          path: app/build/reports
      - name: upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml
      - name: build apk
        run: bash ./gradlew assembleDebug --stacktrace
      - name: artifact apk
        uses: actions/upload-artifact@v4
        with:
          name: artifact-apk
          path: app/build/outputs/apk/debug
