name: Android CI
on: [push, pull_request]
jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: lint
        run: bash ./gradlew lintDebug --stacktrace
      - name: unit tests
        run: bash ./gradlew testDebugUnitTest --stacktrace
      - name: coverage
        run: bash ./gradlew jacocoTestCoverageVerification --stacktrace
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml
